<%- include("partials/header.ejs")%>

<div class="container-sm container-lg pt-3 my-3 bg-light main">
    <p>To do list</p>
    <ul class="list-group">
       
            <% items.forEach(item => { %>
              <li>
                <p>
                    <form action="/delete" method="post">

                        <div class="item">
                             <input name="checkbox"  type="checkbox"  value="<%= item._id %>" >
                             <p id="task-name"><%=item.name%></p>
                            <button id ="delete" type="submit" class="btn btn-light" value="delete task">x</button>
                        </div>
                    
                    </form >
        
                </p>
              </li>
              <% }); %>
              <form id="addForm" action="/submit" method="post">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7">
      
                        <input type="text" id="item" name="task">
                    </div>
      
                    <div class="col-lg-5 col-md-5 col-sm-5">
                    <input type="submit" class="btn btn-light"
                            id="submit" value="add new task" >
                    </div>
                </div>
            </form>
    </ul>
</div>


<%- include("partials/footer.ejs")%>