

.main{
    justify-content: center;
    align-items: center;
}
footer{
    align-items:end;
}

ul{
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
#doneTask{
    text-decoration: line-through;
}

input:checked+p{
    text-decoration: line-through;
}

.item{
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: beige;
    max-width: 350px;
    min-width: 350px;
}

#task-name{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
}
#delete{
    justify-content: end !important;
}

